$rp-base-main: #191724;
$rp-base-moon: #232136;
$rp-base-dawn: #faf4ed;

$rp-surface-main: #1f1d2e;

$rp-overlay-main: #26233a;

$rp-muted-main: #6e6a86;

$rp-subtle-main: #908caa;

$rp-text-main: #e0def4;

$rp-love-main: #eb6f92;

$rp-gold-main: #f6c177;

$rp-rose-main: #ebbcba;

$rp-pine-main: #31748f;
$rp-foam-main: #9ccfd8;
$rp-iris-main: #c4a7e7;
$rp-highlightlow-main: #21202e;
$rp-highlightmed-main: #403d52;
$rp-hghlighthigh-main: #524f67;
