@use "./colours" as *;

a {
    color: inherit;
    text-decoration: none;
    outline: none;
}
body {
    box-sizing: border-box;
    background: $rp-base-main;
    color: $rp-text-main;
    margin: 0 2rem;
}
ul {
    list-style-type: "";
    padding: 0;
}

.psuedo-link {
    &:hover {
        cursor: pointer;
    }
}
