@use "/src/styles/partials/gloabal" as *;
.landingpage-header {
    display: flex;
    align-items: baseline;
    gap: 1rem;
    border-bottom: 0.2rem solid $rp-foam-main;
    margin-bottom: 1rem;
}

.system-wrapper {
    display: flex;
    gap: 1rem;
}
